/*
Font in CSS
Web safe font 
Web font
*/
.p1{
    font-family: verdana, geneva, tahoma, sans-serif;
    font-style:oblique;
    /*font-size: x-large; */
    font-weight: 60px;
    font-variant: small-caps;
}

.p2{
    font: 30px verdana;
}

.p3{
    font: oblique 12 px Georgia;
}

body{
    background-color: blueviolet;
    background-image: url(/image/flower.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right center;
    overflow: scroll;
}

.div1{
    height: 100px;
    width: 400px;
    background:url(/image/css.png) no-repeat; 
}