
html{
 --yellowcolor: yellow;
 --lbluecolor: lightblue;
 --redcolor: red;
 --bluecolor: blue;
 --dredcolor: darkred;
 --zeropx: 0px;
 --hundredpx: 100px;
 --2hundredpx: 200px;

}
body{
    background-color: var(--yellowcolor);
}

.div1{
    height:150px;
    margin-bottom: 50px;
}

.button1{
    margin-top: 20px;
    height: 50px;
    width:100px;
    background-color: var(--lbluecolor);
    color: var(--redcolor);
    font-size: 20px;
    font-weight:normal;
    animation-name: buttonchange;
    animation-duration: 5s;
    animation-delay: 1s;
    transition: background-color 3s height 3s width 3s font-size 3s font-weight 3s;
    
}

.button1:hover{
    background-color: var(--bluecolor);
    color: var(--dredcolor);
    width: 150px;
    height: 75px;
    font-size: 30px;
    font-weight: bold;

}

#pic1{
    margin-top: 10px;
    height: 200px;
    width: 100px;
    position: relative;
    animation-name: picmoving;
    animation-duration: 18s;
    animation-delay: 3s;
    animation-iteration-count: 4;
    transition: height 3s top 3s;
}

@keyframes picmoving{
    0%{
        
        left: var(--zeropx);
        top: var(--zeropx);
    }

    16%{
        
        left: var(--hundredpx);
        top: var(--zeropx);
    }

    32%{
        
        left: var(--2hundredpx);
        top: var(--zeropx);
    }

    48%{
        left: var(--hundredpx);
        top: var(--zeropx);

    }

    64%{
        
        left: var(--hundredpx);
        top: var(--2hundredpx);
    }


    80%{
        left: var(--hundredpx);
        top: var(--zeropx);

    }

    100%{
        
        left: var(--zeropx);
        top: var(--zeropx);
    }

}