/*Registration form style rules*/

h1{
    color: darkblue;
    border:2px solid black;
    padding: 10px;
}

.label1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: small;
}

body{
    background-color: lightblue;
}


.txt{
    width: 200px;
    /*height: 30px; height cannot be fixed for padding to work*/
    font-size: 12px;
    color: black;
    padding: 5px 5px 5px 10px;
    border: 2px solid black;
    background-color: white;

}

#subButton{
    width: 70px;
    padding: 10px  15px  10px 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    background-color: cornflowerblue;
    border: 2px solid black;
    border-radius: 10px;
    color: rgb(255, 0, 20);
    margin-top:10px;
    padding: 5px;
}

#address{
    font-size: 12px;
    color: black;
    padding: 5px 5px 5px 10px;
    border: 2px solid black;
    background-color: white;
}

h1{
    margin-top: 10px;
    display: inline-block;
    border
}

.div1{
    margin-top: 10px;
    margin-down: 10px;
}
